body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShnLntVNZafHFFf8lDFbwb1fpGoYVJi7q4JRoTdtxE&s);
}
h3{
    background-image: url('{% static "images\bgi.jpg" %}');
    color: rgb(245, 32, 32); 
    font-size: 30px; 
    background-color:black;
}