<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
    <h3  style="color: burlywood; font: size 30px; background-color:black">
         {{title}} 
    </h3>
    <br />

  {% for i in albums%}
  <div style="
    color: brown; 
    font-size:30px; 
    margin-top: 5px; 
    margin-bottom:5px;">
    <a href="{% url 'album_details' i.id %}">{{i.title}} </a>
  </div>
    
  {% endfor %}
    <br />
    <br />
   
    <a href="{% url 'add-album'%}"><button>Add New Album</button></a>
    <a href="{% url 'logout'%}"><button>Logout</button></a>
  </center>
</body>
</html>
