<html>
    <body>
        <div>
            <center>
                <h2>Login Your Account</h2>
                {% if error %}
                <p style="color: red;">You Enter Wrong UserName or Password </p>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <input name="username" placeholder="UserName" type="text" /><br /><br />
                    <input name="password" placeholder="Password" type="text" /><br /><br />
                    <input type="submit" /><br /><br />
    
                </form>
                <p>
                    You are not register user.<a href="{% url 'signup' %}"> Create One</a>
                </p>    
            </center>
        </div>
    </body>
</html>

